@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.maindiv {
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.div1title {
  font-family: serif;
  font-weight: bold;
  font-size: 4em;
  color: white;
}

.div1titlenormal {
  color: #05386b;
  font-family: serif;
  font-weight: bold;
  font-size: 4em;
}

/* .div1titlenormal:hover {
  transform: scale(1.5);
} */

/* .div1title:hover {
  transform: rotateX(90deg);
  transition: all 0.5s ease-in 0.5s;
} */

.div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  color: white;
  align-items: center;
  background-color: #121212;
  position: relative;
}

.div2normal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
  position: relative;
  color: #05386b;
  background-color: #5cdb95;
}

.div2name {
  font-family: serif;
  font-weight: bold;
  font-size: 3rem;
  transform: translateX(0);
  transition: 2s;
}

.div2namenormal {
  font-family: serif;
  font-weight: bold;
  font-size: 3rem;
  transform: translateX(-100%);
}

/* 
.div2name {
  text-align: center;


  transform: translateX(0);
} */

/* .div2namenormal {
  text-align: center;

 
} */

/* .div2name h2 {
  padding-top: 8px;
} */

/* .div2role {
} */

.div4butt {
  height: 200px;
  width: 500px;
  text-align: center;
}

.design {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  bottom: 40px;
  left: 5px;
  z-index: -1;
}

.normaldesign {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  bottom: 40px;
  left: 5px;
  z-index: -1;
}

.design1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 0px;
  left: 5px;
  z-index: -1;
}

.normaldesign1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 0px;
  left: 5px;
  z-index: -1;
}

.design2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 120px;
  left: 150px;
  z-index: -1;
}

.normaldesign2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 120px;
  left: 150px;
  z-index: -1;
}

.designname {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: -1;
}

.normaldesignname {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1;
}

.design1name {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: -1;
}

.normaldesign1name {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 1;
}

.design2name {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 120px;
  right: 200px;
  z-index: -1;
}

.normaldesign2name {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 120px;
  right: 200px;
  z-index: 1;
}

.designintro {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  top: 200px;
  right: 500px;
  z-index: -1;
}

.normaldesignintro {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(110, 255, 110);
  position: absolute;
  top: 200px;
  right: 500px;
  z-index: -1;
}

.design1intro {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 180px;
  right: 500px;
  z-index: -1;
}

.normaldesign1intro {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 180px;
  right: 450px;
  z-index: -1;
}

.design2intro {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 400px;
  right: 700px;
  z-index: -1;
}

.normaldesign2intro {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 400px;
  right: 700px;
  z-index: -1;
}

.div1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  min-height: 100vh;
  position: relative;
  /* opacity: 1;
  transform: translateY(0); */
}

.div1normal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: #8ee4af;
  /* transform: translateY(20px);
  transition: opacity 10s, transform 10s;
  opacity: 0; */
}

.footer {
  background-color: #121212;
  border-top: 1px solid grey;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: small;
  color: white;
}
.footernormal {
  background-color: #5cdb95;
  border-top: 1px solid grey;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: small;
}

.triangleleft {
  position: absolute;
  width: 500px;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
  top: -80px;
  z-index: 0;
}

.triangleright {
  position: absolute;
  top: -80px;
  width: 500px;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
  z-index: 0;
}

@media (max-width: 300px) {
  .design {
    display: none;
  }
  .normaldesign {
    display: none;
  }
  .design1 {
    display: none;
  }
  .normaldesign1 {
    display: none;
  }
  .design2 {
    display: none;
  }
  .normaldesign2 {
    display: none;
  }
}
