* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main {
} */

.cardmain {
  color: #05386b;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.card1 {
  max-width: 300px;
  margin-top: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.cardnormal {
  max-width: 300px;
  margin-top: 20px;
  color: #121212;
  background-color: #8ee4af;
}

.ovr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #05386b;
}

.ovr:hover {
  white-space: normal;
  overflow: visible;
  height: auto;
}

.ovrnormal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #05386b;
}

.ovrnormal:hover {
  white-space: normal;
  overflow: visible;
  height: auto;
}

.built {
  background-color: #8ee4af;
  margin-top: 15px;
  border-radius: 2px;
  color: #05386b;
  width: 100px;
  max-height: 50px;
  transition: transform 2s ease;
}

.built :hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
